{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Start Reseller</title>
    <meta name="title" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img1/fav-icon.ico' %}">

    <link rel="stylesheet" href="{% static 'css1/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css1/style.css' %}?v=1.1">

    <script src="{% static 'js1/jquery.min.js' %}"></script>
    <script src="{% static 'js1/bootstrap.min.js' %}"></script>

</head>

<body>

    <div class="loginheader-div">
        <a href="#" class="donthave-account">Login here</a>
        <select name="" id="">
            <option value="">Global $</option>
        </select>
    </div>

    <div class="login-page-wrapper">
        <div class="login-page-middlealign">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-8 login-page">
                        <div class="startreseller-logo">
                            <img src="{% static 'img1/startreseller-logo.svg' %}" alt="Start Reseller">
                        </div>

                        <h5>Sign Up for Your</h5>
                        <h4>Start Reseller Account</h4>

                        <div class="login-form-item">
                            <label>Email Address</label>
                            <input type="text">
                        </div>

                        <div class="login-form-item">
                            <label>Password</label>
                            <input type="password">
                        </div>

                        <button class="continue-btn">Continue</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

</html>
