<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/index.css' %}">
</head>
<body>
    <div class="navbar" id="navbar">
       <h1>Homepage</h1>
        <div class="search">
            <input type="text" name="" id="filter" placeholder="  search here ...">
            <button style="padding: 8px;" class="search-button">Search</button>
        </div>
        <div class="left">
                 <h3>{{user.username}}</h3>
               
                 <div class="logout">
                <img class="logoutimg" src="{% static 'images/icons8-logout-rounded-64.png' %}" alt="">
                 <p><a href="logout">Logout</a></p>
                </div>
        </div>
    </div>
   <div class="content">
    <div class="card">
        <h3>Title</h3>
        <p>description :- Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque repudiandae laboriosam reprehenderit rem error quibusdam odit! Dolor officiis eius tempore ea placeat, aliquam, cupiditate aut quos, modi accusamus voluptates nesciunt.description :- Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque repudiandae laboriosam reprehenderit rem error quibusdam odit! Dolor officiis eius tempore ea placeat, aliquam, cupiditate aut quos, modi accusamus voluptates nesciunt.description :- Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque repudiandae laboriosam reprehenderit rem error quibusdam odit! Dolor officiis eius tempore ea placeat, aliquam, cupiditate aut quos, modi accusamus voluptates nesciunt.description :- Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque repudiandae laboriosam reprehenderit rem error quibusdam odit! Dolor officiis eius tempore ea placeat, aliquam, cupiditate aut quos, modi accusamus voluptates nesciunt.</p>
    
</div>
    <div class="card">
        <h3>Title</h3>
        <p>description :- Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque repudiandae laboriosam reprehenderit rem error quibusdam odit! Dolor officiis eius tempore ea placeat, aliquam, cupiditate aut quos, modi accusamus voluptates nesciunt</p>
    </div>
    <div class="card">
        <h3>Title</h3>
        <p>description :- Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque repudiandae laboriosam reprehenderit rem error quibusdam odit! Dolor officiis eius tempore ea placeat, aliquam, cupiditate aut quos, modi accusamus voluptates nesciunt.</p>
    </div>
    <div class="card">
        <h3>Title</h3>
        <p>description :- Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque repudiandae laboriosam reprehenderit rem error quibusdam odit! Dolor officiis eius tempore ea placeat, aliquam, cupiditate aut quos, modi accusamus voluptates nesciunt.</p>
    </div>

   </div>
   <div class="addicon">
    <a href="./add.html"><img src="./images/add.png" alt="no image"></a>
</div>
</body>
</html>